<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@3.0.0/dist/vue.global.js"></script>
</head>



<body>
  <div id="app">

    <button type="button" @click="onClickCountUp($event)">Count up!!!</button>
    <p>{{ count }}</p>

  </div>
  <script src="sample.js"></script>
</body>

</html>